@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto+Mono:wght@200&display=swap');
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  background-color: rgba(33, 33, 33, 0.933);
  color: #ffffff;
  z-index:0;
}
#logoBar {
  position: absolute;
  top: 2%;
  left: 5%;
  width: 100%;
  font-size: 25pt;
  font-family: 'Oswald', sans-serif;
}
#expand {
  width: 3%;
  height:3px;
  position:absolute;
  background-color: #ffffff;
  left: 5%;
  box-shadow: 0px 10px #ffffff,0px 20px #ffffff;
  z-index: 10
}
#cloud {
  width: 20%;
  height: auto;
  right: 5%;
  top:15%;
  position: absolute;
}
#expandContainer {
  cursor: pointer;
  height:30px;
  width:3%;
  position:absolute;
  left: 5%;
  z-index: -1;
}
#version {
  top: 7.5%;
  left: 10%;
  font-family: 'Roboto Mono'  , monospace;
  position:absolute;
}
span,p {
margin-left:10px;
}
#osName {
  margin-top:3.5%;
  position:initial;
}
#isoMenu {
  font-family: 'Oswald', sans-serif;
  margin-left: 5%; 
  background-color: #21949c;
  width: 25%;
  height:5%;
  border-radius:10px;
  display:block;
  position:absolute;
  top: 27%;
  right: 30%;
  cursor: pointer;
}
span {
  position:absolute;
  top:25%;
  bottom: auto;
  left: 5%
}
#dropArrow {
  display: block;
  position: absolute;
  right: 3%;
  height: 20px;
  width:20px;
  margin-top:5%;
}
.step {
  font-family: 'Oswald', sans-serif;
  color: #b3b3b3;
  font-size: 25pt;
  position: absolute;
}
#stepDiv {
  background-color: rgb(102, 102, 102);
  position: absolute;
  border-style: solid;
}
#s1 {
  top:16%;
  left:42%;
  position:absolute;
  background-color: rgb(58, 58, 58);
  width:50%;
  border-style:solid;
  border-color:rgb(58, 58, 58);
  border-width: 10pt;
  height:15%;
  border-radius:15px;
}
#s2 {
  top:41%;
  left:42%;
  position:absolute;
  background-color: rgb(58, 58, 58);
  width:50%;
  border-style:solid;
  border-color:rgb(58, 58, 58);
  border-width: 10pt;
  height:15%;
  border-radius:15px;
}
#s3 {  
  top:66%;
  left:42%;
  position:absolute;
  background-color: rgb(58, 58, 58);
  width:50%;
  border-style:solid;
  border-color:rgb(58, 58, 58);
  border-width: 10pt;
  height:15%;
  border-radius:15px;
}
#pullout {
  background-color: rgb(58, 58, 58);
  display:none; 
  position:absolute;
  width:40%;
  height:100%;
  left:0;
  top:0;
  z-index:69;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
#progLine {
  background-color: rgb(58, 58, 58);
  top: 16%;
  right: 10%;
  position:absolute;
  width: 2%;
  height: 60%;
  z-index: -1;
}
/*
    Fonts:

    font-family: 'Oswald', sans-serif;

    font-family: 'Roboto Mono', monospace;
*/
/*
    Colour palette:

    background: rgba(33, 33, 33, 0.933)
    standout divs: rgb(58, 58, 58)
    accent: #21949c
    text: white
    text2: #b3b3b3
    cheese
*/