@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto+Mono:wght@200&display=swap');
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  background-color: #2c2c2c;
  color: #ffffff;
}
#logoBar {
  position: absolute;
  top: 2%;
  left: 5%;
  width: 100%;
  font-size: 25pt;
  font-family: 'Oswald', sans-serif;
}
#expand {
  width: 3%;
  height:3px;
  position:absolute;
  background-color: #ffffff;
  left: 5%;
  box-shadow: 0px 10px #ffffff,0px 20px #ffffff;
  z-index: 10
}
#cloud {
  width: 20%;
  height: auto;
  right: 5%;
  top:15%;
  position: absolute;
}
#expandContainer {
  cursor: pointer;
  height:30px;
  width:3%;
  position:absolute;
  left: 5%;
  z-index: -1;
}
#version {
  top: 7.5%;
  left: 10%;
  font-family: 'Roboto Mono'  , monospace;
  position:absolute;
}
span {
  margin-left: 10px;
}
#isoMenu {
  font-family: 'Oswald', sans-serif;
  margin-left: 5%; 
  background-color: #21949c;
  width: 25%;
  height:5%;
  border-radius:10px;
  display:block;
  position:absolute;
  top: 27%;
  right: 30%;
  cursor: pointer;
}
span {
  position:absolute;
  top:25%;
  bottom: auto;
  left: 5%
}
#dropArrow {
  display: block;
  position: absolute;
  right: 3%;
  height: 20px;
  width:20px;
  top: 30%;
}
.step {
  font-family: 'Oswald', sans-serif;
  color: #b3b3b3;
  font-size: 25pt;
  position: absolute;
}
#stepDiv {
  background-color: rgb(102, 102, 102);
  position: absolute;
  border-style: solid;
}
#s1 {
  top:16%;
  left:42%;
  position:absolute;
  background-color: rgb(58, 58, 58);
  width:50%;
  border-style:solid;
  border-color:rgb(58, 58, 58);
  border-width: 10pt;
  height:15%;
  border-radius:15px;
}
#s2 {
  top:41%;
  left:42%;
  position:absolute;
  background-color: rgb(58, 58, 58);
  width:50%;
  border-style:solid;
  border-color:rgb(58, 58, 58);
  border-width: 10pt;
  height:15%;
  border-radius:15px;
}
#s3 {  
  top:66%;
  left:42%;
  position:absolute;
  background-color: rgb(58, 58, 58);
  width:50%;
  border-style:solid;
  border-color:rgb(58, 58, 58);
  border-width: 10pt;
  height:15%;
  border-radius:15px;
}
/*
    font-family: 'Oswald', sans-serif;

    font-family: 'Roboto Mono', monospace;
*/
/*
    Colour palette:


*/